.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .link {
        display: flex;
        gap: 0.5rem;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        font-weight: 600;

        &:hover {
            background-color: #d90429;
            color: white;

        }

        
    }
  
}
.menu-container {
     padding-left: 2rem;
}
