.container {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    color: #780000;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .menu {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .search {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fdf0d5;
    padding: 10px;
    border-radius: 10px;
    color: #780000;
  }
  
  .input {
    background-color: transparent;
    border: none;
    color: #780000;
  }
  
  .icons{
    display: flex;
    gap: 20px;
    color: #780000;
  }