.container {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .participantsTable {
    margin-top: 2rem;
    width: 100%;
    border-radius: 10px;
    overflow: hidden; /* Hide overflow for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: #fff;
  color: black;

  }
  
  .table thead {
    font-weight: 600;
    margin-bottom: 1rem;
    background-color: #fff;
    color: #780000;
    padding: 10px;

  }
  
  .table th,
  .table td {
    border: 0.5px solid #dddddd66;
    padding: 8px;
    text-align:center;

   
  
  }
   .table tr {
    text-align: center;
   }

   .table tr:hover {
     background-color: rgba(234, 234, 234, 0.274);
     cursor: pointer;
   }

.pagination {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 2rem;
}

.status {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}


/* styles.css */

.competition {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}